body {
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-areas: 
  "topbar"
  "sub-content"
  "content"
  "banner"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 500px 100px 790px 280px 180px;
  justify-items: center;
  grid-gap: 1px;
  max-width: 1900px;
  margin: 0 auto;
  background-color: #FBE0C3;
  font-family: Arial, Helvetica, sans-serif;
}

.site-header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 50px;
}

.logo-name {
  font-size: 24px;
  margin-right: auto;
  margin-left: 20px;
}

.nav-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-items ul li {
  display: inline;
  margin: 10px;
}

.nav-items ul li:last-child {
  margin-right: 0;
}

.nav-items ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-items ul li a:hover {
  color: #ccc;
}

.nav-contact-info {
  font-size: 16px;
  padding-left: 20px;
}

.dog-image {
  background-size: cover;
  background-position: center;
  image-resolution: 200dpi;
  width: 100%;
  background-color: #ffd700;
}

.dog-image h1 {
  font-size: 51px;
  width: auto;
  height: 60px;
  padding-left: 50px;
  padding-right: 22px;
  text-align: center;
  display: inline-block;
  color: black;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 0;
}

.dog-stats {
  display: flex;
  margin-top: -40px;
  margin-bottom: 40px;
  z-index: 1;
  color: white;
  text-align: center;
  box-shadow: -0.1px -1px 8px rgba(0, 0, 0, 0.34);
}

.stat {
  background-color: #344648;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  display: inline-block;
}

.stat:nth-child(1) {
  border-right: 1px solid #52575b;
}

.stat:nth-child(2) {
  border-right: 1px solid #52575b;
}

.stat:nth-child(3) {
  border-right: 1px solid #52575b;
}

.stat:nth-child(4) {
  border: none;
}

.dog-details {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  width: 100%;
  color: white;
}

.detail {
  padding: 50px;
  background-color: #c0cdd2;
}

.detail h1 {
  font-size: 24px;
  color: #333;
}

.detail p {
  font-size: 16px;
  color: #666;
}

.small-menu {
  font-size: 24px;
  width: auto;
  height: 34px;
  padding-left: 58px;
  padding-right: 17px;
  background-color: white;
  display: inline-block;
  margin-top: 2%;
}

.banner-image {
  background-image: url('https://www.shutterstock.com/image-photo/row-eight-dogs-different-breeds-600nw-357956705.jpg');
  height: 200px;
  width: 800px;
  margin: 30px;
  box-shadow: 5px 5px 5px gray;
}